
$DARKEST_BLUE: #011f4b;
$DARK_BLUE: #03396c;
$MIDDLE_BLUE: #005b96;
$LIGHT_BLUE: #6497b1;
$LIGHTEST_BLUE: #b3cde0;

$DARK_BACKGROUND: $DARKEST_BLUE;
$COMMON_BACKGROUND: $DARK_BLUE;

$LIGHT_GREY_BACKGROUND: #fbfbfbf2;