@import "../../shared/shared";

.map-anchor { 
    &:hover { cursor: pointer }
}
.map-marker {
    color: $DARKEST_BLUE;

    &:hover {
        cursor: pointer;
    }
    &.selected {
        color: red;
    }
}

.map-instruction { 
    position: absolute;
    background-color: $LIGHT_GREY_BACKGROUND;
    color: $DARKEST_BLUE;
    padding: 15px;
    right: 30px;
    top: 30px;
    z-index: 5;
    border-radius: 5px;
}