@import "../../shared/_shared.scss";

#side-bar {
    display: flex;
    width: 25%;
    min-width: 430px;
    height: 100%;
    background-color: $LIGHT_GREY_BACKGROUND;
    &.with-border {
        border-right: 1px $DARK_BLUE solid
    };
  }

#margin-menu { 
    width: 50px;
    flex: 0 0 50px;
    height: 100%;
    background-color: $DARK_BACKGROUND;

    ul { 
        list-style-type: none; 
        width: 100%;
        padding: 0;
        margin: 0;
    }

    li { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        cursor: pointer;
        &:hover { 
            background-color:$LIGHT_BLUE;
        }
    }

    .nav.selected {
        background-color:  $MIDDLE_BLUE;
    }

    .menu-wrapper { 
        height: 100%;
        width: 100%;
    }

}

#margin-content {
    flex-grow: 1;
}

#request-menu {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    #point-input {
        width: 70%;
        height: 3em;
        border-radius: 10px;
        margin: auto;
        outline: none;
        padding: 0 10px;
        border-style: none;
        
        font-size: 15px;
    }

    .button-wrapper {
        padding: 25px 10%;
        text-align: center;
        display: flex;
        justify-content: space-between;

        button {
            height: 2.25rem;
            border-radius: 10px;
            width: 40%;
            margin: 10px;
        }

        button.btn-submit {
            color: white;
            background-color: $DARKEST_BLUE;
        }

        button.btn-cancel {
            color: $DARKEST_BLUE;
            background-color: white;
        }
    }

    .loading-mssg {
        color: $DARKEST_BLUE;
        text-align: center;
        padding: 0 10%;
    }
    
}