@import "../../shared/_shared.scss";

#side-bar {
    display: flex;
    width: 25%;
    min-width: 430px;
    height: 100%;
    background-color: $LIGHT_GREY_BACKGROUND;
    &.with-border {
        border-right: 1px $DARK_BLUE solid
    };
  }

#margin-menu { 
    width: 50px;
    flex: 0 0 50px;
    height: 100%;
    background-color: $DARK_BACKGROUND;

    ul { 
        list-style-type: none; 
        width: 100%;
        padding: 0;
        margin: 0;
    }

    li { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        cursor: pointer;
        &:hover { 
            background-color:$LIGHT_BLUE;
        }
    }

    .nav.selected {
        background-color:  $MIDDLE_BLUE;
    }
}

#margin-content {
    flex-grow: 1;
    .menu-title {
        position: absolute;
        top: 15px;
        left: 70px;
        color: $DARKEST_BLUE;
        font-size: 18px;
    }
    .menu-wrapper {
        height: 100%;
        padding: 50px 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .loading-mssg {
        color: $DARKEST_BLUE;
        text-align: center;
        padding: 0 10%;
    }
}

#request-menu {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    #point-input {
        width: 80%;
        height: 3em;
        border-radius: 10px;
        margin-top: 5px;
        outline: none;
        border-style: none;
        padding: 0 10px;
        font-size: 15px;
        box-sizing: border-box;
    }
}

.button-wrapper {
    width: 80%;
    padding: 25px 10%;
    text-align: center;
    display: flex;
    justify-content: space-between;

    button {
        height: 2.25rem;
        border-radius: 10px;
        width: 40%;
        margin: 10px;
    }

    button.btn-submit {
        color: white;
        background-color: $DARKEST_BLUE;
    }

    button.btn-cancel {
        color: $DARKEST_BLUE;
        background-color: white;
    }
}

#add-weather-menu {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;

    input[type="text"] {
        width: 80%;
        height: 3em;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: none;
        border-style: none;
        padding: 0 10px;
        font-size: 15px;
        box-sizing: border-box;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

}